@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif; }

.nav-item.dropdown .dropdown-menu {
  display: none;
  list-style: none;
  padding: 0;
  position: absolute; }

.nav-item.dropdown:hover .dropdown-menu {
  display: block; }

.nav-item.dropdown .dropdown-menu {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4 ease, visibility 0.3s; }

.nav-item.dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible; }

body {
  background-image: url("../img/fondo-pagina.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.cabecera {
  position: relative;
  overflow: hidden; }

.cabecera img {
  width: 100%;
  max-width: none;
  left: 50%; }

.logotipo {
  width: 59px; }

.dropdown-menu {
  position: initial !important; }

footer {
  background-color: #2596be; }
  footer .pie {
    display: block;
    text-align: center; }
    footer .pie div {
      display: flex;
      justify-content: center;
      margin-bottom: 11px; }
      footer .pie div .nombre {
        color: #ffffff;
        font-size: 2rem; }
      footer .pie div img {
        margin-left: 20px;
        height: 42px;
        width: 54px; }
    footer .pie div {
      display: flex;
      justify-content: center;
      margin-bottom: 14px; }
      footer .pie div .redes a {
        display: flex;
        height: 42px; }
        footer .pie div .redes a img {
          margin-left: 20px;
          height: 42px; }

.footer-flex {
  display: flex;
  justify-content: space-between; }
  .footer-flex div p {
    color: white; }
  .footer-flex div p {
    color: white; }
  .footer-flex div ul {
    list-style: none;
    padding: 0; }
    .footer-flex div ul li {
      margin-top: 16px; }
      .footer-flex div ul li a {
        text-decoration: none;
        color: white; }

.Copyright {
  text-align: center; }
  .Copyright p {
    margin: 0px; }

.boton, .envios .formulario .boton, .contactos .datos form .boton {
  background-color: #0074d9;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer; }

.presentaci贸n {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  background-color: #2596be;
  padding: 25px; }
  .presentaci贸n .contenido {
    max-width: 800px;
    padding: 20px; }
    .presentaci贸n .contenido h1 {
      font-family: Helvetica;
      margin-top: 0;
      background-color: #2596be;
      color: white; }
    .presentaci贸n .contenido p {
      text-align: justify;
      color: white; }

.enlaces {
  display: block;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px; }
  .enlaces div {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px; }
    .enlaces div a {
      text-decoration: none;
      color: #333;
      font-weight: bold;
      display: block;
      padding: 5px 0;
      text-align: center; }
  .enlaces div {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px; }
    .enlaces div a {
      text-decoration: none;
      color: #333;
      font-weight: bold;
      display: block;
      padding: 5px 0;
      text-align: center; }
  .enlaces div {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px; }
    .enlaces div a {
      text-decoration: none;
      color: #333;
      font-weight: bold;
      display: block;
      padding: 5px 0;
      text-align: center; }
  .enlaces div {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px; }
    .enlaces div a {
      text-decoration: none;
      color: #333;
      font-weight: bold;
      display: block;
      padding: 5px 0;
      text-align: center; }

.contenedor-superior {
  display: flex;
  justify-content: space-between; }
  .contenedor-superior .productos {
    width: 35%;
    margin: 58px;
    text-align: center;
    transition: transform 0.3s ease; }
    .contenedor-superior .productos:hover {
      animation: swing 3s ease infinite; }
    .contenedor-superior .productos img {
      height: 92%;
      width: 100%; }
    .contenedor-superior .productos .nombre-producto {
      font-size: 1rem;
      font-family: Helvetica;
      margin: 0px; }
    .contenedor-superior .productos p {
      box-shadow: 0px 0px 300px -26px rgba(0, 0, 0, 0.64);
      background-color: #f0f0f0;
      font-family: 'Times New Roman'; }

.contenedor-inferior {
  display: flex;
  justify-content: space-between;
  margin-bottom: 79px; }
  .contenedor-inferior .productos {
    width: 35%;
    margin: 58px;
    text-align: center;
    transition: transform 0.3s ease; }
    .contenedor-inferior .productos:hover {
      animation: swing 3s ease infinite; }
    .contenedor-inferior .productos img {
      height: 92%;
      width: 100%; }
    .contenedor-inferior .productos .nombre-producto {
      font-size: 1rem;
      font-family: Helvetica;
      margin: 0px; }
    .contenedor-inferior .productos p {
      box-shadow: 0px 0px 300px -26px rgba(0, 0, 0, 0.64);
      background-color: #f0f0f0;
      font-family: 'Times New Roman'; }

@keyframes swing {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(10deg); }
  50% {
    transform: rotate(-10deg); }
  75% {
    transform: rotate(10deg); }
  100% {
    transform: rotate(0deg); } }

.section-trabajo .titulo-principal {
  text-align: center;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #f0f0f0; }

.section-trabajo .texto-principal {
  text-align: justify;
  background-color: #ffffff;
  padding: 40px;
  border: 1px solid #000000;
  border-radius: 80px;
  margin-bottom: 90px;
  font-family: 'Times New Roman'; }

.section-trabajo .grid-container {
  display: grid;
  grid-template-rows: repeat(6, 0.5fr); }

.section-trabajo #altura-personalizada {
  height: 695px; }

.section-trabajo .grid-imagen {
  border: 1px solid #000000;
  text-align: center;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 80px;
  margin-bottom: 90px;
  height: auto; }
  .section-trabajo .grid-imagen img {
    max-width: 32%;
    height: auto;
    border-radius: 80px; }
  .section-trabajo .grid-imagen p {
    margin-top: 100px;
    font-size: 20px;
    font-family: 'Times New Roman'; }

h1 {
  text-align: center;
  width: 100%;
  padding: 0px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #f0f0f0;
  margin-bottom: 0; }

.grid-servicios {
  display: grid;
  grid-template-columns: repeat(3, 1fr); }
  .grid-servicios .servicios {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center; }
    .grid-servicios .servicios img {
      width: 400px;
      height: 350px;
      margin: auto;
      display: block; }
    .grid-servicios .servicios h2 {
      font-family: Arial;
      text-align: center; }
    .grid-servicios .servicios p {
      font-family: 'Times New Roman';
      text-align: justify;
      padding: 26px; }
    .grid-servicios .servicios a {
      display: inline-block;
      padding: 10px 20px;
      background-color: #007bff;
      color: #fff;
      text-decoration: none;
      border: none;
      border-radius: 5px;
      cursor: pointer; }

.envios {
  background-color: white;
  height: 100%; }
  .envios h1 {
    text-align: center;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #f0f0f0; }
  .envios h2,
  .envios p {
    font-family: 'Times New Roman'; }
  .envios .formulario {
    display: flex;
    justify-content: center; }
    .envios .formulario form {
      background-color: #f0f0f0;
      border: 2px solid #ccc;
      border-radius: 3px;
      padding: 20px;
      width: 643px;
      position: initial; }
      .envios .formulario form div {
        margin-bottom: 1px; }
        .envios .formulario form div label {
          display: block;
          font-weight: bold; }
        .envios .formulario form div input {
          width: 100%;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 5px;
          font-size: 16px; }

.contactos {
  display: flex;
  justify-content: space-between;
  background: white; }
  .contactos .datos {
    flex: 1;
    background-color: #f5f5f5;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 400px;
    margin: 0; }
    .contactos .datos h1 {
      color: #333;
      font-size: 24px;
      margin-bottom: 20px; }
    .contactos .datos form {
      padding: 20px;
      width: 100%; }
      .contactos .datos form label {
        display: block;
        margin-bottom: 10px;
        font-weight: bold; }
      .contactos .datos form input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 3px; }
      .contactos .datos form textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 3px; }
  .contactos .horarios {
    background-color: #f5f5f5;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 400px;
    margin: 0;
    height: 315px; }
    .contactos .horarios p {
      text-align: center;
      margin-bottom: 13px;
      font-family: 'Times New Roman';
      font-size: 17px; }

#logo {
  margin-left: 20px;
  height: 42px;
  width: 55px; }

@media (max-width: 830px) {
  .cabecera {
    overflow: hidden; }
  .cabecera img {
    width: 100%;
    max-width: none;
    overflow: hidden; } }

@media (max-width: 1065px) {
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: none; }
  .productos {
    width: 100%; }
  .contenedor-superior .productos {
    width: 50%; }
  .contenedor-inferior .productos {
    width: 50%; }
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
  .pie {
    margin: 20px 0; }
  .redes {
    margin: 10px 0; }
  .footer-flex {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .mapa {
    width: 100%; } }

/* trabajos: responsive */
@media (max-width: 1246px) {
  .section-trabajo .grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
  .section-trabajo .grid-imagen {
    padding: 0px; }
  .section-trabajo .grid-imagen img {
    max-width: 64%; } }

/* productos: responsive */
@media (max-width: 1456px) {
  section .grid-servicios {
    display: block;
    align-items: center;
    width: 100%; }
  .servicios {
    padding: 0px; }
  .grid-servicios .servicios img {
    width: 400px;
    max-width: 100%;
    height: 350px;
    margin: auto;
    display: block; } }

@media (max-width: 280px) {
  .servicios img {
    max-width: 100%;
    height: 350px;
    display: block;
    margin: 0 auto;
    padding: 0; } }

/* envios: responsive */
@media (max-width: 550px) {
  .envios {
    height: 100%; }
  .envios .formulario form {
    width: 100%;
    margin-bottom: 24px; } }

/* Responsive de contactos*/
@media screen and (max-width: 768px) {
  .contactos {
    flex-direction: column; }
  .contactos .datos {
    max-width: 100%; } }
