@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif; }

body {
  background-image: url("../img/fondo-pagina.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.cabecera {
  position: relative;
  overflow: hidden; }

.cabecera img {
  width: 103%;
  max-width: none;
  left: 50%; }

.logotipo {
  width: 59px; }

.dropdown-menu {
  position: initial !important; }

.presentación {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  background-color: #2596be;
  padding: 25px; }
  .presentación .contenido {
    max-width: 800px;
    padding: 20px; }
    .presentación .contenido h1 {
      font-family: Helvetica;
      margin-top: 0;
      background-color: #2596be;
      color: white; }
    .presentación .contenido p {
      text-align: justify;
      color: white; }

.enlaces {
  display: block;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px; }
  .enlaces div {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px; }
    .enlaces div a {
      text-decoration: none;
      color: #333;
      font-weight: bold;
      display: block;
      padding: 5px 0;
      text-align: center; }
  .enlaces div {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px; }
    .enlaces div a {
      text-decoration: none;
      color: #333;
      font-weight: bold;
      display: block;
      padding: 5px 0;
      text-align: center; }
  .enlaces div {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px; }
    .enlaces div a {
      text-decoration: none;
      color: #333;
      font-weight: bold;
      display: block;
      padding: 5px 0;
      text-align: center; }
  .enlaces div {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px; }
    .enlaces div a {
      text-decoration: none;
      color: #333;
      font-weight: bold;
      display: block;
      padding: 5px 0;
      text-align: center; }

.contenedor-superior {
  width: 100%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0%;
  background: none; }
  .contenedor-superior .productos {
    width: 35%;
    margin: 58px;
    border-radius: 6px;
    overflow: hidden;
    border: 2px solid;
    text-align: center;
    transition: transform 0.3s ease; }
    .contenedor-superior .productos:hover {
      animation: swing 3s ease infinite; }
    .contenedor-superior .productos img {
      height: 92%;
      width: 100%; }
    .contenedor-superior .productos h2 {
      box-shadow: 0px 0px 300px -26px rgba(0, 0, 0, 0.64);
      background-color: #f0f0f0;
      margin: -7px; }
    .contenedor-superior .productos p {
      box-shadow: 0px 0px 300px -26px rgba(0, 0, 0, 0.64);
      background-color: #f0f0f0;
      margin: -7px; }

.contenedor-inferior {
  width: 100%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0%;
  background: none; }
  .contenedor-inferior .productos {
    width: 35%;
    margin: 58px;
    border-radius: 6px;
    overflow: hidden;
    border: 2px solid;
    text-align: center;
    transition: transform 0.3s ease; }
    .contenedor-inferior .productos:hover {
      animation: swing 3s ease infinite; }
    .contenedor-inferior .productos img {
      height: 92%;
      width: 100%; }
    .contenedor-inferior .productos p {
      box-shadow: 0px 0px 300px -26px rgba(0, 0, 0, 0.64);
      background-color: #f0f0f0;
      margin: -7px; }

@keyframes swing {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(10deg); }
  50% {
    transform: rotate(-10deg); }
  75% {
    transform: rotate(10deg); }
  100% {
    transform: rotate(0deg); } }

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #2596be; }
  footer h2 {
    color: #ffffff; }
  footer .pie {
    display: flex;
    align-items: center; }
    footer .pie .redes {
      width: 30px;
      height: 30px; }
      footer .pie .redes a {
        width: 50px;
        height: 30px; }
        footer .pie .redes a img {
          width: 50px;
          height: 30px; }

.section-trabajo .titulo-principal, .section-trabajo section h1, section .section-trabajo h1, .section-trabajo .envios h1, .envios .section-trabajo h1 {
  text-align: center;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #f0f0f0; }

.section-trabajo .grid-container {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 200px; }
  .section-trabajo .grid-container .texto-principal {
    text-align: center;
    text-align: justify;
    background-color: #ffffff;
    padding: 40px;
    border: 1px solid #000000;
    border-radius: 80px; }
  .section-trabajo .grid-container .grid-imagen {
    max-width: 300px;
    border: 1px solid #000000;
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 80px; }
    .section-trabajo .grid-container .grid-imagen img {
      max-width: 100%;
      height: auto;
      border-radius: 80px; }
    .section-trabajo .grid-container .grid-imagen p {
      margin-top: 10px;
      font-size: 20px; }

section .grid-servicios {
  display: grid;
  grid-template-columns: repeat(3, 1fr); }
  section .grid-servicios .servicios {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px; }
    section .grid-servicios .servicios .imagen-grid a {
      display: flex;
      align-items: center;
      background-color: black; }
    section .grid-servicios .servicios .imagen-grid img {
      width: 400px;
      height: 350px;
      margin: auto; }
    section .grid-servicios .servicios a h2 {
      font-family: Arial;
      text-align: center; }
    section .grid-servicios .servicios p {
      font-family: Arial;
      text-align: center; }

.envios {
  background-color: white; }
  .envios h2,
  .envios p {
    font-family: Helvetica; }
  .envios .formulario form, .envios .información .datos .consulta form form, .información .datos .consulta .envios form form {
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    border-radius: 3px;
    padding: 20px;
    width: 100%;
    position: initial; }
    .envios .formulario form div, .envios .información .datos .consulta form form div, .información .datos .consulta .envios form form div {
      margin-bottom: 1px; }
      .envios .formulario form div label, .envios .información .datos .consulta form form div label, .información .datos .consulta .envios form form div label {
        display: block;
        font-weight: bold; }
      .envios .formulario form div input, .envios .información .datos .consulta form form div input, .información .datos .consulta .envios form form div input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px; }

.información {
  display: flex;
  justify-content: space-between;
  background: white; }
  .información .datos {
    background-color: #f5f5f5;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 400px;
    margin: 0; }
    .información .datos .consulta h1 {
      color: #333;
      font-size: 24px;
      margin-bottom: 20px; }
    .información .datos .consulta form div {
      margin-bottom: 15px; }
      .información .datos .consulta form div label {
        display: block;
        font-weight: bold; }

.horarios {
  background-color: #f5f5f5;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 400px;
  height: 278px; }
  .horarios p {
    margin: 10px 0;
    font-size: 16px;
    color: #333;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline; }
    .horarios p:nth-child(odd) {
      font-weight: bold;
      text-decoration: underline; }

@media (max-width: 1065px) {
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: none; }
  .productos {
    width: 100%; }
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    background-color: #2596be;
    height: auto;
    text-align: center;
    overflow: hidden; }
  .nombre {
    color: #ffffff;
    margin-bottom: 9px;
    margin-top: -26px; }
  .redes {
    width: 30px;
    height: 30px;
    margin-top: 10px; }
  .mapa {
    width: 100%;
    max-width: 100%;
    height: auto; } }

/* trabajos: responsive */
@media (max-width: 1246px) {
  .grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; } }

/* productos: responsive */
@media (max-width: 1348px) {
  .grid-servicios {
    display: block;
    align-items: center; }
  .servicios img {
    overflow: hidden; } }

/* envios: responsive */
@media (max-width: 535px) {
  .envios {
    height: 674px; } }

/* Responsive de contactos*/
@media (max-width: 983px) {
  .información {
    display: block;
    align-items: center; } }
