* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url("../img/fondo-pagina.jpg");
    /* Reemplaza 'ruta-de-tu-imagen.jpg' con la ruta de tu imagen de fondo */
    background-size: cover;
    /* Ajusta el tamaño de la imagen para que cubra toda la pantalla */
    background-repeat: no-repeat;
    /* Evita que la imagen de fondo se repita */
    background-attachment: fixed;
    /* Fija la imagen de fondo para que se mantenga en su lugar al hacer scroll */
}



/*Index_cabecera */
.cabecera {
    position: relative;
    overflow: hidden;
}

.cabecera img {
    width: 103%;
    max-width: none;
    left: 50%;

}

.logotipo {
    width: 59px;
}

.dropdown-menu {
    position: initial !important;
}



/*Header_presentación */
.presentación {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    background-color: #2596be;
    padding: 25px;
}

.contenido {
    max-width: 800px;
    padding: 20px;
}

.presentación h1 {
    font-family: Helvetica;
    margin-top: 0;
    /* Elimina el margen superior predeterminado del h1 */
    background-color: #2596be;
    color: white;
}

.presentación p {
    text-align: justify;
    color: white;
}

/* section */



/* Estilos para el contenedor de enlaces */
.enlaces {
    display: block;
    /* Utilizamos flexbox para alinear los divs en una fila */
    justify-content: space-between;
    /* Espacio entre los elementos */
    max-width: 800px;
    /* Ancho máximo del contenedor */
    margin: 0 auto;
    padding: 20px;
    /* Espacio interno del contenedor */
    background-color: #f5f5f5;
    /* Color de fondo del contenedor */
    border: 1px solid #ccc;
    /* Borde del contenedor */
    border-radius: 5px;
    /* Bordes redondeados */
}

/* Estilos para los divs que contienen los enlaces */
.enlaces div {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilos para los enlaces */
.enlaces a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    display: block;
    padding: 5px 0;
    text-align: center;
}



.contenedor-superior {
    width: 100%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0%;
    background: none;
}

.contenedor-inferior {
    width: 100%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0%;
    background: none;

}

@keyframes swing {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(10deg);
    }

    50% {
        transform: rotate(-10deg);
    }

    75% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.productos {
    width: 35%;
    margin: 58px;
    border-radius: 6px;
    overflow: hidden;
    border: 2px solid;
    text-align: center;
    transition: transform 0.3s ease;
}

.productos:hover {
    animation: swing 3s ease infinite;
}

section img {
    height: 92%;
    width: 100%;
}

.productos h2,
.productos p {
    box-shadow: 0px 0px 300px -26px rgba(0, 0, 0, 0.64);
    background-color: #f0f0f0;
    margin: -7px;
}

/*footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #2596be;
}

.nombre {
    color: #ffffff;
    margin-top: -138px;
}

.pie {
    display: flex;
    align-items: center;
}

.redes {
    width: 30px;
    height: 30px;
}

/* responsive index*/

@media (max-width: 1065px) {
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: none;
    }

    .productos {
        width: 100%;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 0;
        background-color: #2596be;
        height: auto;
        text-align: center;
        overflow: hidden;
    }

    .nombre {
        color: #ffffff;
        margin-bottom: 9px;
        margin-top: -26px;
    }

    .redes {
        width: 30px;
        height: 30px;
        margin-top: 10px;
    }

    .mapa {
        width: 100%;
        max-width: 100%;
        height: auto;
    }
}


/* Trabajos */

.grid-container {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 200px;
}

.grid-imagen {
    max-width: 300px;
    border: 1px solid #000000;
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 80px;


}


.grid-imagen img {
    max-width: 100%;
    height: auto;
    border-radius: 80px;
}

.grid-container .texto-principal {
    text-align: center;
    text-align: justify;
    background-color: #ffffff;
    padding: 40px;
    border: 1px solid #000000;
    border-radius: 80px;

}

.grid-imagen p {
    margin-top: 10px;
    font-size: 20px;
}



/* trabajos: responsive */

@media (max-width: 1246px) {
    .grid-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

/* productos */

.principal {
    text-align: center;
}

.grid-servicios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.servicios {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
}

.servicios img {
    width: 400px;
    height: 350px;
    margin: auto;
}

.servicios h2,
p {
    font-family: Arial;
    text-align: center;
}

.imagen-grid a {
    display: flex;
    align-items: center;
}

/* productos: responsive */
@media (max-width: 1348px) {
    .grid-servicios {
        display: block;
        align-items: center;
    }

    .servicios img {
        overflow: hidden;
    }

}

/* envios */
section h1 {
    text-align: center;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #f0f0f0;

}

.envios {
    background-color: white;
    height: 582px;
}

section p {
    font-family: Helvetica;
}

@media (max-width: 535px) {
    .envios {
        height: 674px;
    }
}

/* contactos */
/* Estilos para el contenedor principal */
.información {
    display: flex;
    justify-content: space-between;
    background: white;
}

.datos {
    background-color: #f5f5f5;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 400px;
    margin: 0;
}

/* Estilos para el encabezado h1 */
.consulta h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Estilos para los elementos de formulario */
.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

/* Estilo para el botón al pasar el ratón por encima */
button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Estilos para el contenedor de horarios */
.horarios {
    background-color: #f5f5f5;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 400px;
    height: 278px;
    /* Ajusta el ancho máximo según tus necesidades */

    /* Centra el contenido horizontalmente */
}

/* Estilos para los párrafos dentro del contenedor */
.horarios p {
    margin: 10px 0;
    /* Agrega espacio entre los párrafos */
    font-size: 16px;
    color: #333;
    font-style: italic;
}

.horarios p:nth-child(odd) {
    font-weight: bold;
    text-decoration: underline;
}

/* Responsive de contactos*/

@media (max-width: 983px) {
    .información {
        display: block;
        align-items: center;
    }
}