* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url("../img/fondo-pagina.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.cabecera {
    position: relative;
    overflow: hidden;
}

.cabecera img {
    width: 103%;
    max-width: none;
    left: 50%;

}

.logotipo {
    width: 59px;
}

.dropdown-menu {
    position: initial !important;
}

$color-principal: #2596be;
$color-secundario: white;
$color-terciario: #ccc;