* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url("../img/fondo-pagina.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.cabecera {
    position: relative;
    overflow: hidden;
}

.cabecera img {
    width: 100%;
    max-width: none;
    left: 50%;

}

.logotipo {
    width: 59px;
}

.dropdown-menu {
    position: initial !important;
}

footer {
    background-color: #2596be;

    .pie {
        display: block;
        text-align: center;

        div {
            display: flex;
            justify-content: center;
            margin-bottom: 11px;

            .nombre {
                color: #ffffff;
                font-size: 2rem;
            }

            img {
                margin-left: 20px;
                height: 42px;

            }

        }

        div {
            display: flex;
            justify-content: center;
            margin-bottom: 14px;

            .redes {
                width: 30px;
                height: 30px;

                a {
                    display: flex;
                    height: 42px;
                }
            }
        }
    }

    .footer-flex {
        display: flex;
        justify-content: space-between;

        div {
            p {
                color: white;
            }
        }

        div {
            p {
                color: white;
            }
            ul {
                list-style: none;
                padding: 0;
                li {
                    margin-top: 16px;
                    a {
                        text-decoration: none;
                        color: white;

                    }
                }
            }
        }

    }
}

.Copyright {
    text-align: center;

    p {
        margin: 0px;
    }
}

$color-principal: #2596be;
$color-secundario: white;
$color-terciario: #ccc;


@mixin titulo ($text, $width, $padding, $border, $border-radius, $background-color){
text-align: $text;
width: $width;
padding: $padding;
border: $border;
border-radius: $border-radius;
background-color: $background-color;
}