* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-item.dropdown .dropdown-menu {
    display: none;
    list-style: none;
    padding: 0;
    position: absolute;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-item.dropdown .dropdown-menu {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4 ease, visibility 0.3s;
}

.nav-item.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

body {
    background-image: url("../img/fondo-pagina.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.cabecera {
    position: relative;
    overflow: hidden;
}

.cabecera img {
    width: 100%;
    max-width: none;
    left: 50%;

}

.logotipo {
    width: 59px;
}

.dropdown-menu {
    position: initial !important;
}

footer {
    background-color: #2596be;

    .pie {
        display: block;
        text-align: center;

        div {
            display: flex;
            justify-content: center;
            margin-bottom: 11px;

            .nombre {
                color: #ffffff;
                font-size: 2rem;
            }

            img {
                margin-left: 20px;
                height: 42px;
                width: 54px;
            }

        }

        div {
            display: flex;
            justify-content: center;
            margin-bottom: 14px;

            .redes {
                a {
                    display: flex;
                    height: 42px;

                    img {
                        margin-left: 20px;
                        height: 42px;
                    }
                }
            }
        }
    }
}

.footer-flex {
    display: flex;
    justify-content: space-between;

    div {
        p {
            color: white;
        }
    }

    div {
        p {
            color: white;
        }

        ul {
            list-style: none;
            padding: 0;

            li {
                margin-top: 16px;

                a {
                    text-decoration: none;
                    color: white;

                }
            }
        }
    }

}


.Copyright {
    text-align: center;

    p {
        margin: 0px;
    }
}

.boton {
    background-color: #0074d9;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

$color-principal: #2596be;
$color-secundario: white;
$color-terciario: #ccc;


@mixin titulo ($text, $width, $padding, $border, $border-radius, $background-color) {
    text-align: $text;
    width: $width;
    padding: $padding;
    border: $border;
    border-radius: $border-radius;
    background-color: $background-color;
}