.información {
    display: flex;
    justify-content: space-between;
    background: white;

    .datos {
        background-color: #f5f5f5;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        max-width: 400px;
        margin: 0;

        .consulta {
            h1 {
                color: #333;
                font-size: 24px;
                margin-bottom: 20px;
            }

            form {
                @extend .formulario;
                                div {
                                    margin-bottom: 15px;
                                    label {
                                        display: block;
                                        font-weight: bold;
                                    }
                                }
                
            }
        }

    }
}



.horarios {
    background-color: #f5f5f5;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 400px;
    height: 278px;

    p {
        margin: 10px 0;
        font-size: 16px;
        color: #333;
        font-style: italic;
        font-weight: bold;
        text-decoration: underline;

        &:nth-child(odd) {
            font-weight: bold;
            text-decoration: underline;
        }
    }
}