.envios {
    background-color: white;
    height: 582px;

    h1 {
        text-align: center;
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
        background-color: #f0f0f0;
    }

    h2 {
        font-family: Helvetica;
    }

    p {
        font-family: Helvetica;
    }
}