section {
    h1 {
        @include titulo (center, 100%, 0px, 1px solid #ccc, 3px, #f0f0f0); margin-bottom: 0;
    }

    .grid-servicios {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        .servicios {
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 20px;

            .imagen-grid {
                a {
                    display: flex;
                    align-items: center;
                }

                img {
                    width: 400px;
                    height: 350px;
                    margin: auto;
                }
            }

            a {
                color: black;
                text-decoration: none;
                h2 {
                    font-family: Arial;
                    text-align: center;
                }
            }

            p {
                font-family: Arial;
                text-align: center;
            }
        }
    }
}